<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}{% endblock %}
</head>

<body>
    
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#">HelloWorld</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                Home
              </li>
          </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    {% block sidebar %}{% endblock %}
    <footer>
    	&copy; {{ "now"|date('Y') }} <!-- © affichera 2019 -->

    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
