{% extends 'base.html.twig' %}

{% block title %}Redéfinir le mot de passe
{% endblock %}

{% block body %}

    <main id="reset_pwd" class="container">

        <form method="post">

            <h2 class="h3 font-weight-normal">Redéfinir le mot de passe</h2>

            <p class="col-md-4">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </p>

            <input type="hidden" name="token" value="{{ token }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Modifier le mot de passe
            </button>
        </form>

    </main>

{% endblock %}
