{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



<!-- {{ mon_prenom }} correspond à une variable php $mon_prenom -->
<h1 class="mt-5">Hello {{ mon_prenom }}</h1>

{% endblock %}