html, body, div, p, ul, li, figure {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#grandeImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
}

#grandeImg figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}